/server/www/*.html
/server/www/desktop
/server/www/tablet
/server/www/mobile
/server/www/css
/server/www/js
/server/platforms/
/server/plugins/
/server/.sass-cache

/client/www/*.html
/client/www/js
/client/www/css
/client/.sass-cache

.DS_Store
