html
  head
    title Futbol

    script(src='/socket.io/socket.io.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-route/angular-route.js')
    script(src='/lib/angular-socket-io/socket.js')
    script(src='/js/application.js')
    script(src='/lib/requirejs/require.js', data-main='/lib/requirejs/require_samsung')

    style(src='/css/app.min.css')

  body(ng-app='Futbol')
    ng-view
