
ul
  li(ng-repeat='level in levels')
    a(ng-href="#/levels/{{level.permalink}}" ng-bind='level.player.name')

#thingy.box
  p Got Sass hooked up correct but for some reason the the classes aren't catching

