h1(ng-bind='level.player.name')

pre
  | {{step | json}}

section.image(ng-if="step.type == 'photo'")
  figure
    img(ng-src='{{step.url}}')
    figcaption(ng-bind='step.caption')

section.video(ng-if="step.type == 'video'")
  iframe#player(type="text/html" width="640" height="390"
    ng-src="{{step.url}}"
    allowfullscreen
    frameborder="0")

section.dialog(ng-if="step.type == 'dialog'")
  p.waiting(ng-show='messages.length==0') Loading ...

  ul
    li(ng-repeat='message in messages' ng-bind='message')

nav
  a(ng-href="#/levels/{{level.permalink}}/{{step.index-1}}" ng-hide='index == 0') Back
  | &nbsp;
  a(ng-href="#/levels/{{level.permalink}}/{{step.index+1}}" ng-show='hasMoreSteps()') Next
