html
  head
    title Gamifyed

    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

    script(src='/lib/devicejs/lib/device.js')
    script(src='/socket.io/socket.io.js')
    script(src='lib/ionic/release/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/angular-ui-router/release/angular-ui-router.js')
    script(src='/lib/angular-socket-io/socket.js')
    script(src='/js/application.js')

    link(rel='stylesheet' href='/css/ionic.app.css')
    link(rel='stylesheet' href='/css/app.min.css')

  body(ng-app='Gamifyed' animation='slide-left-right-ios7')
    ng-include(src="'main.html'")
