doctype html
html
  head
      meta(charset='utf-8')
      meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
      title Gamifyed

      link(href='lib/ionic/css/ionic.css', rel='stylesheet')
      link(href='css/style.css', rel='stylesheet')
      link(href='css/ionic.app.css', rel='stylesheet')

      script(src='lib/ionic/js/ionic.bundle.js')
      script(src='cordova.js')

      script(src='/lib/underscore/underscore.js')
      script(src='/lib/angular-socket-io/socket.js')
      script(src='http://localhost:3000/socket.io/socket.io.js')
      script(src='js/application.js')
  body(ng-app='Gamifyed', animation='slide-left-right-ios7')

    ion-nav-bar.bar-stable.nav-title-slide-ios7
      ion-nav-back-button.button-icon.icon.ion-ios7-arrow-back
        | Back

    ion-nav-view
